node_modules/*
gamerpilsen/secret.json
gamerpilsen/secrets.json
gamerpilsen/node_modules/*
gamerpilsen/achievements/
resources/achievements/
resources/icons/
gamerpilsen/coverage
resources/images/
coverage/
*/secrets.json
src/node_modules/.bin/acorn
src/node_modules/
